

.inventory-grid {
    grid-template-columns: 20% 20% 20% 10% 3% 3%;

    @screen xs {
        grid-template-columns:17% 19% 18% 15% 3% 3%;
    }
    @screen sm {
        grid-template-columns: 15% 15% 15% 15% 2% 2%;
    }
    @screen md {
        grid-template-columns: 20% 20% 20% 20% 5% 5%;
    }

    @screen lg {
        grid-template-columns: 20% 20% 20% 17% 5% 3%;
    }
}
::ng-deep .mat-select-value{
    color: rgb(0, 0, 0);
}
.mat-option {
    word-break: break-all;
    white-space: inherit;
    height: min-content;
   }

   .mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option{
    height:7rem !important;
   }
.box{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.438);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:8px;
    border-radius: 3px;
}

.container-custom{
   margin-left: 64px;
   margin-right: 64px;
}
.no-task{
    font-size: 20px;
}

button {
    margin-right: 8px;
  }

   .pagination{
    display:flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  ::ng-deep .mat-tooltip {
    min-width: 12px;
    height: auto;
}

.demo{
 color:transparent;
}
.flexing{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
@media only screen and (max-width: 600px) {
    .flexing{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 600px) {
    .text-sm{
        font-size: 10px !important;
    }
}

@media screen and (min-width:600px){
    .add-time{
        display:block;
    }
    .add-time-dialog{
        display:none;
    }
}
@media screen and (min-width:300px) and (max-width: 600px){
    .add-time{
        display: none;
    }
    .add-time-dialog{
        display: block ;
    }
    .sprint-padding{
        margin-top: 8px;
    }
}
.timesheet-p{
    margin-top: 10px !important;
}



input[type="time"]::-webkit-calendar-picker-indicator  {
   cursor: pointer;
 }